.notification {
  font-size: 24px;
  border-style: solid;
  border-radius: 4px;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: lightgrey;
}
.notification--error {
  color: red;
}
.notification--success{
  color: green;
}
.button {
  background: white;
  display:inline-block;
  padding: 8px;
  border-radius: 5px;
  margin: 5px
}

.button--cancel {
  color: tomato;
}

.button__red {
  color: tomato;
}

.button__small {
  padding: 2px;
  margin: 1px;
}

.button:hover {
  color:white;
  background: black;
}

.blog {
  margin-bottom: 3px;
}

.blog:hover {
  background-color: lightgrey;
}

.blog--title {
  font-size: large;
  font-weight: bold;
}